body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  border:1px solid black    
}

.section1 {
  /* width: 100%; */
  height: 50vh;
  background-color: goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 3%;
  /* border: 1px solid black; */
  border-bottom: 1px solid black;
}
.content1 {
  position: absolute;
  top: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content1 input[type="text"] {
  padding: 10px;
  font-size: 17px;
  width: 90%;
  border: 1px solid black;
}

.content1 button {
  padding: 12px 12px;
  border: 1px solid black;
  background-color: bisque;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 15px;
  width:6%;
}
.text1 {
  color: #fff;
}

.section2 {
  width: 100%;
  height: 50vh;
  background-color: grey;
}
.text2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 35%;
}
.box1 {
  padding: 5px 10px 15px;
  background-color: rgb(110, 152, 168);
  width: 5%;
  border: 1px solid rgb(83, 171, 206);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* top:52%; */
  left: 2%;
  bottom: 35%;
}
.box2 {
  padding: 5px 10px 15px;
  background-color: rgb(110, 152, 168);
  width: 5%;
  border: 1px solid rgb(114, 170, 192);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2%;
  bottom: 35%;
}
.box3 {
  padding: 5px 10px 15px;
  background-color: rgb(110, 152, 168);
  width: 5%;
  border: 1px solid rgb(114, 170, 192);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 4%;
  left: 2%;
}
.box4 {
  padding: 5px 10px 15px;
  background-color: rgb(110, 152, 168);
  width: 5%;
  border: 1px solid rgb(114, 170, 192);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 4%;
  right: 2%;
}

.section3 {
  width: 100%;
  height: 50vh;
  background-color: green;
}

.text3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  /* position: absolute; 
  top:5%; */

}

.container {
  background-color: gray;
  padding: 20px 20px 10px;
  margin: 20px;
  width: 8%;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  position: relative;
  top: 18%;
  left:30%;
}
